#root {
    text-align: center;
    align-content: center;
}

header {
    background-color: #b48ead;
    text-align: center;
    padding: 50px;
    color: #eceff4;
}

#carouselExample {
    max-width: 700px;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
    text-align: center;
    align-content: center;
}

#carouselExample .carousel-item img {
    max-width: 700px;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    border: 3px solid #b48ead;
    box-shadow: 0 4px 6px #2e3440;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.img-out {
    max-width: 50%;
    max-height: 900px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    border: 3px solid #b48ead;
    box-shadow: 0 4px 6px #2e3440;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}


