* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-content: center;
}

body {
    
    background: linear-gradient(180deg, #2e3440 0%, #bf616a 100%);
}

h1 {
    font-family: "Updock", cursive;
    font-weight: 400;
    font-size: 50px;
    font-style: normal;
    color: #d8dee9;
    position: center;
}

p {
    font-family: "Annie Use Your Telescope", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #d8dee9;
    text-align: center;
    padding: 50px;
}